<p>
  <label for="new-cooloc" class="label-description">Cool description for your cool location !</label>
  {{input class="input-description" type="text" value=name id="new-cooloc" placeholder="restaurant japonais, 3 place de la gare, Limoges" }}
</p>
<p>{{name}}</p>

{{outlet}}
